<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="3d474e10-a5ee-4785-a3b1-710fc5916aec" Version="1.0.0.0" Publisher="CN=Hristo" />
  <Properties>
    <DisplayName>SofiaAirportApp</DisplayName>
    <PublisherDisplayName>Hristo</PublisherDisplayName>
    <Logo>images\airportStoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="SofiaAirportApp" Logo="images/airportLogo.png" SmallLogo="images/airportSmallLogo.png" Description="SofiaAirportApp" ForegroundText="light" BackgroundColor="#200C69" ToastCapable="false">
        <DefaultTile ShowName="allLogos" ShortName="Sofia Airport" WideLogo="images/airportWideLogo.png" />
        <SplashScreen Image="images\airportSplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>