body {
}

video {
    width: 800px;
    height: 600px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
    video {
        width: 300px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
