.arrivals section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}
#txt {
    display: none;
}
body {
    height: 100%;
}
table {
    height: 600px;
    overflow: scroll;
}

@media screen and (-ms-view-state: snapped) {
    .arrivals section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .arrivals section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}